<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
</head>

<body>
    <nav>
        <header>
            <img width="360" src="../image/logo-mercado-liebre.svg" alt="">
            <div>lugar para poner barra de busqueda</div>
            <div>Compra en cuotas y sin Tarjeta de Credito</div>
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>

            <ul>
                <li>Crea tu cuenta</li>
                <li>Ingresa</li>
                <li>Mis compras</li>
            </ul>
    </nav>
    </header>
    <main>
        <img width="500" src="../image/img-home-banner.jpg" alt="">
        <section>
            <div>
                <h1>Basado en tu ultima visita</h1>
            </div>
            <article>
                <img width="360" src="../image/img-cafetera-moulinex.jpg" alt="">
                <h3>$6700</h3>
                <h4>50%off</h4>
                <h2>Cafetera Moulinex</h2>
            </article>
            <article>
                <img width="360" src="../image/img-macbook-pro-2019.jpg" alt="">
                <h3>$230000</h3>
                <h4>20%off</h4>
                <h2>MacBook</h2>
            </article>
            <article>
                <img width="360" src="../image/img-samsung-galaxy-s10.jpg" alt="">
                <h3>$70500</h3>
                <h4>10%off</h4>
                <h2>Samsung Galaxy S10</h2>
            </article>
            <article>
                <img width="360" src="../image/img-tv-samsung-smart.jpg" alt="">
                <h3>$23200</h3>
                <h4>5%off</h4>
                <h2>SmartTv Samsung 43"</h2>
            </article>

        </section>
        <section>
            <div>
                <h1>Seccion Ofertas</h1>
            </div>
            <article>
                <img width="360" src="../image/img-cafetera-moulinex.jpg" alt="">
                <h3>$6700</h3>
                <h4>50%off</h4>
                <h2>Cafetera Moulinex</h2>
            </article>
            <article>
                <img width="360" src="../image/img-macbook-pro-2019.jpg" alt="">
                <h3>$230000</h3>
                <h4>20%off</h4>
                <h2>MacBook</h2>
            </article>
            <article>
                <img width="360" src="../image/img-samsung-galaxy-s10.jpg" alt="">
                <h3>$70500</h3>
                <h4>10%off</h4>
                <h2>Samsung Galaxy S10</h2>
            </article>
            <article>
                <img width="360" src="../image/img-tv-samsung-smart.jpg" alt="">
                <h3>$23200</h3>
                <h4>5%off</h4>
                <h2>SmartTv Samsung 43"</h2>
            </article>

        </section>
    </main>
    <nav></nav>
    <nav></nav>
    <footer>
        <section>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
        </section>
        <section>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                productos. Es un beneficio de Mercado Puntos.</p>
        </section>
        <section>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                porque estás siempre protegid@.</p>
        </section>
        <section>
            <h3>Copyright © 1999-2020 MercadoLiebre S.R.L</h3>
        </section>
    </footer>
</body>

</html>